$baseColor: rgb(0, 0, 0);
$backgroundColor: rgb(195, 226, 245);
$navBackgroundColor: rgb(10, 10, 110);
$applicationTheme: rgb(121, 206, 255);
$buttonColor: rgb(220, 251, 252);

div {
  color: $baseColor;
  font-weight: 300;
}
nav {
  background-color: $navBackgroundColor;
  a {
    color: $backgroundColor;
  }
}
h2 {
  margin-bottom: 1rem;
}
.main {
  background-color: $applicationTheme;
  padding: 0.5rem 1rem;
}
.buttonTheme {
  text-shadow: 0 0 1px $baseColor;
  font-weight: 300;
}

@media only screen and (min-width: 620px) {
  .screenType {
    padding: 0;
  }

  body {
    background-color: $backgroundColor;
    text-shadow: 0 0 1px $baseColor;
  }
}

@media only screen and (max-width: 620px) {
  .screenType {
    padding: 0;
  }

  body {
    background-color: $applicationTheme;
    text-shadow: 0 0 1px $baseColor;
  }
}
